.container-header {
    width: 100%;
}

header .item {
    height: 243px;
    position: relative;
}

@media (min-width:768px) {
    header .item {
        height: 285px;
    }
}

header .item img {
    width: 100%;
    height: 243px;
    object-fit: cover;
}

@media (min-width:768px) {
    header .item img {
        height: 285px;
    }
}

header .item .cover {
    padding: 75px 0;
    position: absolute;
    width: 100%;
    height: 243px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:768px) {
    header .item .cover {
        height: 100%;
    }
}

header .item .cover .header-content {
    position: relative;
    padding: 20px;
    overflow: hidden;
    margin-left: 10px;
}

@media (min-width:768px) {
    header .item .cover .header-content {
        margin-left: auto;
    }
}

header .item .cover .header-content .line {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border: 9px solid #fff;
    -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
    clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}

header .item .cover .header-content h2 {
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    margin: 0;
}
@media (min-width:768px) {
    header .item .cover .header-content h2 {
        font-size: 24px;
    }
}
@media (min-width:1024px) {
    header .item .cover .header-content h2 {
        font-size: 30px;
    }
}

header .item .cover .header-content h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    word-spacing: 3px;
    color: #fff;
}
@media (min-width:768px) {
    header .item .cover .header-content h1 {
        font-size: 45px;
    }
}

header .item .cover .header-content h4 {
    font-size: 14px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
    margin: 0;
}

@media (min-width:768px) {
    header .item .cover .header-content h4 {
        font-size: 18px;
    }
}