.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    width: 100%;
    font-weight: bold;
}

.homepage {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 100%;
}

@media (min-width:768px) {
    .container {
        width: 400px;
    }
}

.container-album {
    background: var(--background-box);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 200px;
    cursor: pointer;
    margin-top: 15px;
    font-size: var(--box-title-dsk);
}

.container-album:is(:hover,:focus,:active) {
    font-weight: bold;
    background-color: var(--background-box-on);
}


@media (min-width:768px) {
    .container-album {
        width: 200px;
    }
}

.container-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}