.pictures {}

.container-load-images {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

@media (min-width:768px) {
    .container-load-images {
        flex-direction: row;
        margin-bottom: 50px;
    }
}

.images {
    background: #F4F5FF;
    padding: 10px;
}

@media (min-width:768px) {
    .images {
        padding: 40px;
    }
}

.react-photo-album--row {
    flex-flow: column !important;
}

@media (min-width:768px) {
    .react-photo-album--row {
        flex-flow: row !important;
    }
}

.react-photo-album--photo {
    width: auto !important;
    margin-bottom: 10px;
}

@media (min-width:768px) {
    .react-photo-album--photo {
        width: calc((100% - 5px) / 2) !important;
    }
}